.hidden{
  visibility: hidden;
}
.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    pointer-events: auto;
    padding-bottom: 44px;
  }
  
  .bottom-navbar-container {
    background-color: rgb(224, 162, 120);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
  }
  
  .nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: #471100;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-button span {
    font-size: 0.7rem;
    margin-top: 5px;
  }
  
  .nav-button.active {
    color: #ff4800;
  }